html {
    height: 100%;
}

h3{
    text-align: center;
}

body {
    height: 100%;
    background-color:#DFE9EB;
    
}
a {
    text-decoration: none;
    color:#6EAFC1;
}

h4{
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.BTS {
    width: 100%;
    display: block;
}

.header{
    text-align: center;
    font-size: 100px;
}

.navbar{
    text-align: center;
    font-size: 45px;
}

.footer{
    text-align:center;
}

.rightPane{
   display:flex;
   justify-content:center;
   width: 100%;
   
}

.leftPane {
    margin: 60px;
}

.bangtang{
    text-align: center;
}
.sonye {
    width: 45%;
}