html {
    height: 100%;
}

body {
    height: 100%;
    background-color:#DFE9EB;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.BTS {
    width: 100%;
    display: block;
}

.header{
    text-align: center;
    font-size: 100px;
}

.navbar{
    text-align: center;
    font-size: 45px;
}

.footer{
    text-align:center;
}

