html {
    height: 100%;
    

}

h4{
    text-align: center;
    font-family: 'EB Garamond', serif;

}

body {
    height: 100%;
    background-color:#DFE9EB;
    
}
a {
    text-decoration: none;
    color:#6EAFC1;
    justify-content:space-between;

}

h4{
    text-align: center;
    padding-right: 250px;
    padding-left: 250px;
}
h5{
    text-align: center;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.BTS {
    width: 100%;
    display: block;
}

.header{
    text-align: center;
    font-size: 70px;
}

.navbar{
    text-align: center;
    font-size: 40px;
}

.footer{
    text-align:center;
}

.rightPane{
   display:flex;
   justify-content:center;
   width: 100%;
   
}

.leftPane {
    margin: 60px;
}

.bangtang{
    text-align: center;
}
.sonye {
    width: 45%;
}

.div{
    width:5%;
}

#head1{
    text-align: center;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#info{
    text-align: center
}

.bang{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.social{
   
}
